# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Django
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Environments
.env
.venv/
venv/
env/

# Tooling
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
